@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif; 
    background-color: #fffdf6; 
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif; 
    font-weight: 700;
}

/* título de cronología */
.titulopag {
    text-align: center;
    padding: 20px;
    color: #231f20;
    font-size: 20px;
    margin: 0;
}

/* centrar todo el contenido principal */
.cuerpo-pagina {
    width: 90%; 
    margin: 0 auto 40px auto; 
}

/* contenedor del mapa + leyenda */

.contenedor-visual-mapa {
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin-top: 10px;
}

.columna-leyenda {
    width: 150px; 
    margin-top: 100px; 
    text-align: right;
}

.columna-leyenda img {
    max-width: 100%; 
}

.marco-foto-mapa {
    height: 600px; 
    width: 450px;
    border: 3px solid #231f20; 
    box-shadow: 8px 8px 0px rgba(35, 31, 32, 0.15); 
    background-color: white;
}

.marco-foto-mapa img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

/* botones del tiempo */

.controles-tiempo-vertical {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    height: 600px; 
    padding: 15px 0;
}

.linea-guia-vertical {
    position: absolute;
    top: 30px;
    bottom: 30px;
    width: 4px;
    background-color: #231f20; 
    z-index: 0;
}

.bolita-anio {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 1;
    background-color: #fffdf6;
    border: 3px solid #231f20; 
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
    box-shadow: 3px 3px 0px black; 
}

.bolita-anio:hover,
.bolita-anio.activa {
    background-color: #fe5929; 
    color: #fff;
    transform: translateY(-3px);
}

/* contenedor texto de cada año */

.columna-texto {
    flex: 1; 
}

.tarjeta-explicacion {
    border: 2px solid #231f20;
    background-color: #fffdf6;
    box-shadow: 6px 6px 0px rgba(35, 31, 32, 0.1); 
    padding-bottom: 30px;
}

.cuadro-negro-decorativo {
    height: 20px;
    width: 100%;
    background-color: #231f20;
    margin-bottom: 30px;
}

.tarjeta-explicacion h2 {
    margin: 0 30px 20px 30px;
    font-size: 26px;
    text-decoration: underline;
    text-decoration-color: #fe5929; 
}

.tarjeta-explicacion p {
    margin: 0 30px;
    font-size: 17px;
    line-height: 1.6;
}

/* pie de página */

footer {
    text-align: center;
    padding: 40px;
    font-size: 14px;
    border-top: 1px solid #ddd; 
    margin-top: 60px;
    color: #666;
}