/*ESTILO FORMULARIO*/
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans:wght@400;700&display=swap');

        .seccion-recomendados {
            margin-top: 40px;
            padding: 0 20px;
        }

        h1, h3{
            text-align: center;
            margin-bottom: 25px;                    
            font-size: 30px;
            font-family: 'Libre Baskerville', serif;
            font-weight: 700;
        }

/*Así colocamos el  el texto a la izquierda y el form a la derecha */
        .contenedor-principal {
            display: flex;
            justify-content: space-around; 
            align-items: center;           
            min-height: 70vh;              /*altura para que respire la página*/
            padding: 20px;
            font-family: Arial, sans-serif;
        }

/* Estilo de la frase de la izquierda */
        .titulo-izquierda {
            font-size: 60px;
            max-width: 400px;
            line-height: 1.1;
            font-weight: bold;
        }

/* El recuadro del formulario */
        #formulario {
            background-color: #d3d3d3; 
            padding: 25px;            
            border-radius: 12px;
            width: 320px;             
            box-shadow: 0 4px 15px rgba(0,0,0,0.1); /*efecto de sombra*/
            display: flex;
            flex-direction: column;   
            align-items: center;      
        }

/* Título DONA dentro del form */
        #formulario h3 {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 20px;
        }

/* Campos de texto internos */
        .campo {
            width: 100%; /*los forzamos a que ocupen todo el ancho*/
        }

        .campo label {
            font-size: 14px;
            font-weight: bold;
            display: block;
            text-align: center; 
        }

        input[type="text"], 
        input[type="email"],
        input[type="number"] {
            width: 100%;
            padding: 5px;
            border: none;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .botones {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        .botones button {
            padding: 5px 10px;
            font-size: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #b0a8a6;
        }

/* Texto de los checkboxes*/
        .campo input[type="checkbox"] + label {
            font-size: 13px;
            font-weight: normal;
            display: inline;
        }

/* Botón DONAR (abajo del form) */
        input[type="submit"] {
            background-color: #9e9795;
            color: black;
            border: none;
            width: 160px;  
            padding: 12px;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 15px;
        }

        input[type="submit"]:hover {
            background-color: #8a8381;
        }
        
        footer {
            text-align: center;
            padding: 40px;
            font-size: 14px;
            border-top: 1px solid #ddd; 
            margin-top: 60px;
            color: #666;
        }