/* ESTILOS  */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans:wght@400;700&display=swap');


h1,h2, h3{
    text-align: center;
    margin-bottom: 25px;                    
    font-size: 30px;
}


/*FOTOS*/

.fila-fotos {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    flex-wrap: wrap;
}

.fotos {
    min-width: 250px;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.2s;
}
.marco-foto {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.foto-tarjeta {
    width: 100%;
    height: 180px;
    display: block;
}

.texto-tarjeta {
    padding: 15px;
}

.texto-tarjeta p {
    margin: 0;
    font-size: 14px;
}

/*contenedor para alinear flechas y fotos */
.contenedor-carrusel {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.fila-fotos {
    display: flex;
    padding: 10px;
    overflow: auto; 
    scroll-behavior: smooth; /*explicacion en el informe pero hace que se mueva suavemente */
    flex-wrap: nowrap; 
}
/*para que la imagen se levante un poco */
.fotos:hover {
transform: translateY(-5px);
}

/*FLECHAS*/

.flecha-btn {
    width: 50px;
    height: 50px;
    
}
/*para girar la foto hacia la izquierda porque la flecha de la foto esta hacia la derecha*/
.izquierda {
    transform: rotate(180deg);
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* VIDEO */

.seccion-recomendados {
    margin-top: 40px;
    padding: 0 20px;
}

.video-recomendado {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 8px; 
}

.video-titulo {
    font-weight: bold;
    color: #333;
    font-family: 'Libre Baskerville', serif;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

.video-descripcion {
    font-size: 14px;
    color: #666;
    font-family: 'Libre Baskerville', serif;
    margin-top: 1;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*BIBLIOTECA*/

.seccion-biblioteca {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.seccion-biblioteca h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* CONTENEDOR FLEXIBLE */
.grid-libros {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

/* LA TARJETA DEL LIBRO */
.libro {
    width: 160px;
    margin: 15px;
    text-align: left;
}

/* CONTENEDOR DE LA IMAGEN */
.portada-contenedor {
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.3s;
}
/*para que la imagen se levante un poco*/
.libro:hover .portada-contenedor {
    transform: translateY(-5px);
}
/* LA IMAGEN EN Si */
.img-libro {
    width: 100%;
    height: auto;
    display: block;
}

.info-libro h3 {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
    font-weight: bold;
}

.info-libro .autor {
    font-size: 13px;
    color: #555;
    font-style: italic;
}
