/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans:wght@400;700&display=swap');

/* reglas para toda las páginas */

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fffdf6; 
}

/* títulos comunes */
h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

/* cabecera de la página */
header {
    background-color: #fffdf6;
    border-bottom: 2px solid #231f20; 
    padding: 15px 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

/* Caja que agrupa la imagen y el texto del logo */
.caja-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-foto {
    height: 50px; 
    width: auto;
}

.nombre-museo {
    font-family: 'Arial Black', sans-serif; 
    font-size: 18px;
    line-height: 1.1;
    color: #231f20;
    font-weight: bold;
}

.menu-navegacion {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-navegacion a {
    text-decoration: none;
    color: #231f20;
    font-weight: bold;
    font-size: 16px;
}

.menu-navegacion a:hover, 
.menu-navegacion a.activo {
    color: #fe5929; 
    /*text-decoration: underline;*/
}

/*botón de formularios -> hazte socio*/
.menu-navegacion a.btn-socio {
    background-color: #231f20;
    color: #fffdf6;
    padding: 8px 13px;
    border-radius: 30px;
    margin-left: 20px;
    border: 2px solid #231f20; 
    transition: all 0.3s ease; 
}

.menu-navegacion a.btn-socio:hover,
.menu-navegacion a.btn-socio.activo {
    background-color: #fe5929;
    border-color: #fe5929; 
    color: white;
    box-shadow: 4px 4px 0px rgba(35, 31, 32, 0.3); 
    transform: translateY(-3px);
}

/* pie de página */

footer {
    text-align: center;
    padding: 40px;
    font-size: 14px;
    border-top: 1px solid #ddd; 
    margin-top: 80px; /* Separación con el contenido de arriba */
    color: #666;
    background-color: #fffdf6; /* Asegura que el fondo sea igual */
}