/*ESTILO TESTIMONIOS*/
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans:wght@400;700&display=swap');

        h2, h3{
            text-align: center;
            margin-bottom: 25px;
            font-size: 30px;
            font-family: 'Libre Baskerville', serif;
            font-weight: 700;
        }

/*Para que se deslice de forma suave*/
        html {
            scroll-behavior: smooth;
        }

/*Cabecera*/
        #cabeceratest {
            color: #fffdf6;
            padding: 80px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background-image: url("../imagenes/img_testimonios/fotocentro.jpeg");
            background-size: cover;       /*hace que la foto cubra todo el espacio*/
            background-position: center;
        }

/*Botón de "Aprende más" */
        .btn-aprende {
            background-color: black;
            color: white;
            padding: 12px 30px;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            border: none;
            display: inline-block;
        }

/*Conjunto de testimonios*/
        #centro {
            text-align: center;
            padding: 80px 20px;
        }

        .contenedor-cartas {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /*queremos 4 columnas fijas*/
            gap: 50px 30px; /*añadimos separación vertical*/
            max-width: 1100px;
            margin: 50px auto;
        }

/*Bloque conjunto de carta + nombre*/
        .bloque-testimonio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

/*Estilo del nombre de cada persona (debajo de cada carta)*/
        .nombre-persona {
            margin-top: 20px;
            font-weight: bold;
            color: #333;
            font-size: 16px;
        }

/*Estructura de la Carta (Giro) */
        .carta {
            width: 100%;
            height: 250px;
            perspective: 1000px; /*con esto creamos una profundidad 3D*/
        }

        .carta-contenido {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.6s; /*velocidad de giro de la carta*/
            transform-style: preserve-3d; /*la carta mantiene su posicion 3D al girar*/
            cursor: pointer;
        }

        .carta:hover .carta-contenido {
            transform: rotateY(180deg) scale(1.05); /*rota 180º y se agranda un poquito*/
        }

/*Aseguramos que la carta tenga un tamaño fijo y no se mueva */
        .carta {
            background-color: transparent;
            width: 100%;
            height: 250px;
            perspective: 1000px;
        }

/* El contenedor que gira */
        .carta-contenido {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.6s; /*velocidad de giro de la carta*/
            transform-style: preserve-3d; /*la carta mantiene su posicion 3D al girar*/
            cursor: pointer;
        }

    /*Esilo en común para la cara de delante y detrás*/
        .carta-delante, .carta-detras {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden; /*hay que ocultar la cara que no se ve*/
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            overflow: hidden; 
        }

    /*Carta por delante*/
        .carta-delante {
            z-index: 2; /*nos asegura que si no hemos clickado, veremos la imagen y no el texto*/
            transform: rotateY(0deg);
            padding: 0;
        }

/*Estilo imagen*/
        .foto, .foto img {
            width: 100%;
            height: 100%;
            object-fit: cover; /*ajusta la foto al hueco sin deformarla */
            position: absolute;
            top: 0;
            left: 0;
        }

/*Estilo texto detrás*/
        .carta-detras {
            background-color: #333;
            color: white;
            transform: rotateY(180deg);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            box-sizing: border-box;
            font-size: 12px;   
        }

/*Estilo del texto "Leer testimonio"*/
        .etiqueta {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 10; /*lo pone por delante de la foto*/
            font-size: 10px;
            background: rgba(255, 255, 255, 0.8);
            padding: 4px 8px;
            border-radius: 2px;
            color: #333;
            font-weight: bold;
        }
        
/*Estilo del pie de pagina*/
        footer {
            text-align: center;
            padding: 40px;
            font-size: 14px;
            border-top: 1px solid #ddd; 
            margin-top: 60px;
            color: #666;
        }